doctype html
html(lang="en")
  head
    title Track Your Shows
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="styles.css", rel="stylesheet", type="text/css")
  header
    div.head-container
      nav
        div.logo: p Show
                    span Trackr
        ul 
          li: a(href="#") Features
          li: a(href="#") Community
          li: a(href="#") Get Started
        div.login
          a(href="#"): p Log In
          a(href="#").get: p Get Started
      div.hero
        img(src="images/Rectangle 6.png", alt="background shape").bg1
        img(src="images/Group 3.png", alt="background shape").bg2
        img(src="images/iphone-x-mockup.png", alt="iphone").bg3
        div.rhero
          h1 Track your shows automatically
          p With ShowTrackr you can track your favorite TV <br> shows automatically, so you never loose track of your <br>TV shows ever again.🍿
          form(action="#", method="post")
            input(type="text", placeholder="your@email.com")
            button(type="submit") Start tracking
  main
    div.main-container
      div.features
      div.shows
      div.showcase
      div.testimonials
  footer
  
  