doctype html
html(lang="en")
  head
    title Track Your Shows
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="styles.css", rel="stylesheet", type="text/css")
  header
    div.shapes
      img(src="images/Rectangle 6.png", alt="background").shape1
      img(src="images/Group 3.png", alt="background").shape2
    div.head-container  
      nav
        div.logo: a(href="#"): p Show
                    span Trackr
        ul 
          li: a(href="#features") Features
          li: a(href="#community") Community
          li: a(href="#footer") Get Started
        div.login
          a(href="#").login1: p Log In
          a(href="#").get: p Get Started
      div.hero
        div.lhero
          h1 Track your shows automatically
          p With ShowTrackr you can track your favorite TV <br> shows automatically, so you never loose track of your <br>TV shows ever again.🍿
          form(action="#", method="post")
            input(type="text", placeholder="your@email.com")
            button(type="submit", style="cursor:pointer") Start tracking
          div.comp
            p: span COMPATIBLE WITH
            ul
             li: img(src="images/netflix.png", alt="Netflix Logo")
             li: img(src="images/apple.png", alt="apple logo")
             li: img(src="images/android.png", alt="android logo")
             li: img(src="images/windows.png", alt="windows logo")
             li: img(src="images/synology.png", alt="synology logo") 
        img(src="images/iphone-x-mockup.png", alt="iphone").bg1
        img(src="images/iphone-x-mockup.png", alt="iphone").bg2
  main
    div.main-container
      div.features#features
        h3 Features
        h1 Built and customized <br>for your habit
        p ShowTrackr's buil-in machine leatning and context-aware features <br>guarantee that all the notification and recommendations are always <br>delivered to you in the perfect moment.
        div.extras
          div.extra1
            img(src="images/Group 8.png", alt="icon")
            p: span Automated tracking
            p.sp Track your favorite shows automatically<br> without switching between apps.
            a(href="#") Learn more >
          div.extra1
            img(src="images/Group 8a.png", alt="icon")
            p: span Machine learning
            p.sp Get recommendations like never before,<br> which are truly customized for your taste.
            a(href="#") Learn more >
          div.extra1
            img(src="images/Group 8c.png", alt="icon")
            p: span Smart notifications
            p.sp Receive smart notifications exactly at the<br> right moments when you need them.
            a(href="#") Learn more >
      div.shows
        ul
          li: img(src="images/Rectangle 7.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy 2.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy 3.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy 4.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy 5.png", alt="movie poster")
          li: img(src="images/Rectangle 7 Copy 6.png", alt="movie poster")
          li: img(src="images/chuck1.jpg", alt="movie poster")
          li: img(src="images/Rectangle 7.png", alt="movie poster")
          li: img(src="images/vikings.jpg", alt="movie poster")
      div.showcase
        div.sLeft
          h2 Easy-to-use interface<br> on every platform
          p.para Since most of our features work in a completely automated<br> way, you will mainly use our apps to discover new TV shows<br> recommended for you and discuss the most interesting<br> episodes with like-minded people.
          div.s-items
            div(onclick="location.href='#'", style="cursor: pointer").s-item1
              a(href="#")
                img(src="icons/dashboard.png", alt="icon")
                p Customized Dashboard
            div(onclick="location.href='#'", style="cursor: pointer").s-item2
              a(href="#")
                img(src="icons/moon.png", alt="icon")
                p Automatic Day & Night Modes
            div(onclick="location.href='#'", style="cursor: pointer").s-item3
              a(href="#")
                img(src="icons/chat.png", alt="icon")
                p Integrated Chat Platform
        div.sRight
          img(src="images/iphone-x-mockup.png", alt="iphone").phone
          img(src="images/Group 13.png", alt="screen").screen
      div.testimonials#community
        div.testR
          h3 Community
          h2 We belive in the power<br> of community
          p Our goal is to create a product and service that you’re<br> satisfied with and use it every day. This is why we’re<br> constantly working on our services to make it better<br> every day and really listen to what our users has to say.
          a(href="#").readM: p Read more testimonials
        div.testL
          img(src="images/Testimonials1.png", alt="testimonials").test1
          img(src="images/Testimonials2.png", alt="testimonials").test2
    div.extratest
        img(src="images/Testimonials3.png", alt="testimonials").test3
  footer#footer
    h3 Get Started
    h1 Start tracking your TV<br> shows for free
    p In order to start tracking your TV shows, all you have to do is enter<br> your email address. Everything else will be taken care of by us. All<br> you have to do is sit back, relax and enjoy your TV shows.
    form(action="#", method="post")
      input(type="text", placeholder="your@email.com")
      button(type="submit", style="cursor:pointer") Start tracking
    ul
      li: a(href="#"): img(src="images/Twitter.png", alt="twitter icon")
      li: a(href="#"): img(src="images/facebook.png", alt="facebook icon")
      li: a(href="#"): img(src="images/youtube.png", alt="youtube icon")
    p.copy Copyright 2018 All rights reserved — Designed by Daniel Korpai