@font-face {
  src: url(fonts/SFProDisplay-Black.ttf);
  font-family: sfBlack; }

@font-face {
  src: url(fonts/SFProDisplay-Bold.ttf);
  font-family: sfBold; }

@font-face {
  src: url(fonts/SFProDisplay-Semibold.ttf);
  font-family: sfSemi; }

@font-face {
  src: url(fonts/SFProDisplay-Heavy.ttf);
  font-family: sfHeavy; }

@font-face {
  src: url(fonts/SFProDisplay-Medium.ttf);
  font-family: sfMed; }

@font-face {
  src: url(fonts/SFProDisplay-Regular.ttf);
  font-family: sfReg; }

:root {
  --purple: #540CFA;
  --purple2: #3C09B3; }

/*----------- Global Styles ------------*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  list-style: none; }

html {
  width: 100%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 10px;
  background: white;
  -webkit-box-shadow: 0px 11px 36px -22px #dbdbdb;
  box-shadow: 0px 11px 36px -22px #dbdbdb; }
  nav .logo {
    font-family: sfHeavy;
    font-size: 20px; }
    nav .logo span {
      color: var(--purple); }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    nav ul li {
      margin-left: 50px;
      font-family: sfSemi;
      font-size: 16px; }
      nav ul li a {
        color: black; }
  nav .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    nav .login a {
      margin-left: 20px;
      font-family: sfBold;
      font-size: 16px;
      color: black; }
    nav .login .get {
      background: var(--purple);
      padding: 7px;
      color: white;
      font-family: sfMed;
      font-size: 14px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 12px 15px -14px #530cfa;
      box-shadow: 0px 12px 15px -14px #530cfa; }

.hero .bg1 {
  position: absolute;
  top: 350px;
  left: -300px; }

.hero .bg2 {
  position: fixed;
  top: -200px;
  right: -500px;
  z-index: -1; }

.hero .bg3 {
  width: 30%;
  position: fixed;
  top: 150px;
  right: 100px; }

.hero .rhero {
  margin: 80px 0 0 100px;
  width: 600px; }
  .hero .rhero h1 {
    font-family: sfBlack;
    font-size: 60px;
    margin-bottom: 40px; }
  .hero .rhero p {
    font-family: sfReg;
    font-size: 21px;
    margin-bottom: 30px; }
  .hero .rhero input {
    font-family: sfReg;
    font-size: 21px;
    padding: 5px;
    border: 1px;
    -webkit-box-shadow: 0px 12px 15px -14px #530cfa;
    box-shadow: 0px 12px 15px -14px #530cfa;
    padding-right: 13px; }
  .hero .rhero button {
    padding: 10px;
    background: var(--purple);
    color: white;
    border: 0;
    margin-left: -6px;
    margin-top: -5px;
    border-radius: 0 6px 6px 0; }
